{% if include.lookup %}
  {% assign member = site.members 
    | where_exp: "member", "member.slug == include.lookup"
    | first
  %}
{% else %}
  {% assign member = include %}
{% endif %}

{% assign nointerests = include.nointerests | default: false %}
{% assign external-page-only = include.external-page-only | default: "" %}


<div class="portrait-wrapper">
  <a
    href="{{ external-page-only | default: member.url | relative_url }}"
    class="portrait"
    data-style="{{ include.style }}"
    aria-label="{{ member.name | default: 'member link' }}"
  >
    <img
      src="{{ member.image | relative_url }}"
      class="portrait-image"
      alt="member portrait"
      loading="lazy"
      {% include fallback.html %}
    >

    <span class="portrait-text">
      <span class="portrait-name">
        {{ member.name | default: '[No name provided]' }}
      </span>

      <span class="portrait-role">
        <span>{{ member.brief-desc | default: '[No role given]' }}</span>
      </span>
    </span>

    <hr class="person-sep">
    <span class="portrait-desc">
      {{ member.brief-position | default: '[No position listed]' }}
    </span>
  </a>
</div>
