---
layout: default
---

<nav aria-label="breadcrumb" class="breadcrumb">
  <ol class="breadcrumb px-0">
    <li class="breadcrumb-item"><a href="/team">Team</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ page.name }}</li>
  </ol>
</nav>

<div class="member-profile text-center">
  <!-- Avatar -->
  <img src="/{{ page.image }}" alt="{{ page.name }}" class="portrait-image" />

  <!-- Name & Position -->
  <h1>{{ page.name }}</h1>
  {% if page.position %}
    <div class="position-title">{{ page.position }}</div>
  {% endif %}

  <!-- Links (Email, LinkedIn, etc) -->
  {% if page.links %}
    <div class="links">
      {% for link in page.links %}
        {% assign key = link[0] %}
        {% assign value = link[1] %}
        {% include button.html type=key link=value style="bare" %}
      {% endfor %}
    </div>
  {% endif %}
</div>

<!-- Bio -->
{% if content %}
  <div class="section">
    <h3>Biography</h3>
    {{ content }}
  </div>
{% endif %}

<!-- Education -->
{% if page.education %}
  <div class="section">
    <h3>Education</h3>
    <ul>
      {% for item in page.education %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

<!-- Affiliations -->
{% if page.affiliations %}
  <div class="section">
    <h3>Affiliations</h3>
    <ul>
      {% for item in page.affiliations %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
